ion-toolbar{
    background-color: var(--ion-color-mycolor);
}
ion-menu-button {
    color: var(--ion-color-white);
  }

.text-primary{
    color: black;
}

.article-source-name{
    font-size: 12px;
}