<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">favoritos</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>
      <ion-checkbox justify="start">Django Python</ion-checkbox>
    </ion-item>
  
    <ion-item>
      <ion-checkbox justify="start">React Native</ion-checkbox>
    </ion-item>
  
    <ion-item>
      <ion-checkbox justify="start">JavaScript</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
