ion-toolbar{
    background-color: var(--ion-color-mycolor);
}
ion-menu-button {
    color: var(--ion-color-white);
  }

  .container {
    width: 100%;
    height: 100%;
  }

  capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 100%;
  }