<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">acerca</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>About</ion-card-title>
        <ion-card-subtitle>Students log App</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Esta aplicación para el registro y seguimiento de la carrera universitaria utilizando Ionic Framework & Angular
        creada por <strong>Jorge Feliz</strong>
      </ion-card-content>
    </ion-card>
    
    <!-- <strong class="capitalize">Acerca de</strong>
    <p>Esta aplicación para el registro y seguimiento de la carrera universitaria utilizando Ionic Framework & Angular
      creada por <strong>Jorge Feliz</strong>
    </p> -->
  </div>


</ion-content>