<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">clases</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Programación II</ion-label>
      <ion-badge color="primary">89</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Informática Gerencial</ion-label>
      <ion-badge color="success">95</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Dispositivos Móviles</ion-label>
      <ion-badge color="success">99</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Etica Profesional</ion-label>
      <ion-badge color="primary">88</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Filosofía</ion-label>
      <ion-badge color="danger">70</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Calidad de Software</ion-label>
      <ion-badge color="success">96</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
